body {  background-color: black; color: #ffffe0; font-family: Arial, sans-serif; }
video {
  border: 1px solid black;
  padding: 0; margin: 0;
  width: 427px;
  height: 240px;
  background-color: black;
  margin: auto;
  float: left;
}

.btn-1{
  position: absolute;
    top: 350px;
    left: 0;
}

.btn-2{
  position: absolute;
    top: 350px;
    left: 300px;
}

.btn-3{
  position: absolute;
    top: 350px;
    left: 500px;
}
button{
  
  width: 50px;
}